<table class="table">
  <thead>
  <tr>
    <th>
      <span [innerHTML]="authenticationTypeLabel" class="p-2 col-5 col-sm-2"></span>
    </th>
    <th>
      <span [innerHTML]="authIdLabel" class="p-2 col-5 col-sm-2"></span>
    </th>
    <th>
      <span [innerHTML]="secretIdLabel" class="p-2 col-5 col-sm-2"></span>
    </th>
    <th>
      <span [innerHTML]="expiryDateLabel" class="p-2 col-5 col-sm-2"></span>
    </th>
    <th>
      <span [innerHTML]="actionsLabel" class="p-2 col-sm-1 ml-auto last-column"></span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let authenticationValue of authenticationValues" class="list-item">
    <td>
      <span [innerHTML]="authenticationValue.type" class="p-2 col-5 col-sm-2"></span>
    </td>
    <td>
      <span [innerHTML]="authenticationValue['auth-id']" class="p-2 col-5 col-sm-2"></span>
    </td>
    <td>
      <span [innerHTML]="authenticationValue.id" class="p-2 col-5 col-sm-2"></span>
    </td>
    <td>
      <span [innerHTML]="authenticationValue['not-after']  | date:'medium': 'UTC'" class="p-2 col-5 col-sm-2"></span>
    </td>
    <td class="p-2 col-sm-1 ml-auto last-column">
      <div [ngbTooltip]="isEditable(authenticationValue) ? editLabel : editDisabledLabel" class="auth-btn-wrapper">
        <button (click)="edit(authenticationValue)" [disabled]="!isEditable(authenticationValue)"
          class="btn-auth btn btn-sm btn-primary" type="button">
          <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
        </button>
      </div>
      <button (click)="delete(authenticationValue)" [ngbTooltip]="deleteLabel" class="btn btn-sm btn-secondary"
              type="button">
        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
