<table class="table">
  <thead>
  <tr>
    <th class="p-2 col-4">
      <span [innerHTML]="versionLabel"></span>
    </th>
    <th class="p-2 col-4">
      <span [innerHTML]="updateLabel"></span>
    </th>
    <th class="p-2 col-4 ml-auto last-column">
      <span [innerHTML]="dataLabel"></span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let config of configs; let i = index" class="list-item">
    <td class="p-2 col-4">
      <span [innerHTML]="config.version"></span>
    </td>
    <td class="p-2 col-4">
      <span [innerHTML]="config.cloudUpdateTime  | date:'medium': 'UTC'"></span>
    </td>
    <td class="p-2 col-4 ml-auto last-column">
      <span [innerHTML]="config.binaryData"></span>
      <div class="form-check form-switch">
        <input
          [(ngModel)]="showTextDataArray[i]"
          [checked]="showTextDataArray[i] === true"
          (change)="showTextData(config, showTextDataArray[i])"
          class="form-check-input"
          id="notAfterSwitch{{i}}" type="checkbox">
        <label [innerHTML]="showTextLabel" class="form-check-label" for="notAfterSwitch{{i}}"></label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
